In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("C:/AI/adult/adult.data") # Датасет с сайта

In [3]:
print(data.head)

<bound method NDFrame.head of        39          State-gov   77516    Bachelors   13        Never-married  \
0      50   Self-emp-not-inc   83311    Bachelors   13   Married-civ-spouse
1      38            Private  215646      HS-grad    9             Divorced
2      53            Private  234721         11th    7   Married-civ-spouse
3      28            Private  338409    Bachelors   13   Married-civ-spouse
4      37            Private  284582      Masters   14   Married-civ-spouse
...    ..                ...     ...          ...  ...                  ...
32555  27            Private  257302   Assoc-acdm   12   Married-civ-spouse
32556  40            Private  154374      HS-grad    9   Married-civ-spouse
32557  58            Private  151910      HS-grad    9              Widowed
32558  22            Private  201490      HS-grad    9        Never-married
32559  52       Self-emp-inc  287927      HS-grad    9   Married-civ-spouse

             Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0         Exec-managerial         Husband   White     Male      0   0   13
1       Handlers-cleaners   Not-in-family   White     Male      0   0   40
2       Handlers-cleaners         Husband   Black     Male      0   0   40
3          Prof-specialty            Wife   Black   Female      0   0   40
4         Exec-managerial            Wife   White   Female      0   0   40
...                   ...             ...     ...      ...    ...  ..  ...
32555        Tech-support            Wife   White   Female      0   0   38
32556   Machine-op-inspct         Husband   White     Male      0   0   40
32557        Adm-clerical       Unmarried   White   Female      0   0   40
32558        Adm-clerical       Own-child   White     Male      0   0   20
32559     Exec-managerial            Wife   White   Female  15024   0   40

        United-States   <=50K
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3                Cuba   <=50K
4       United-States   <=50K
...               ...     ...
32555   United-States   <=50K
32556   United-States    >50K
32557   United-States   <=50K
32558   United-States   <=50K
32559   United-States    >50K

[32560 rows x 15 columns]>

In [4]:
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.isnull().sum()

39                0
 State-gov        0
 77516            0
 Bachelors        0
 13               0
 Never-married    0
 Adm-clerical     0
 Not-in-family    0
 White            0
 Male             0
 2174             0
 0                0
 40               0
 United-States    0
 <=50K            0
dtype: int64

In [6]:
data.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [7]:
# 1) 15
# 2) пропусков нет
# 3)

In [8]:
from ucimlrepo import fetch_ucirepo # датасет из библиотеки
  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 

# variable information 
X.head

<bound method NDFrame.head of        age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
2       38           Private  215646    HS-grad              9
3       53           Private  234721       11th              7
4       28           Private  338409  Bachelors             13
...    ...               ...     ...        ...            ...
48837   39           Private  215419  Bachelors             13
48838   64               NaN  321403    HS-grad              9
48839   38           Private  374983  Bachelors             13
48840   44           Private   83891  Bachelors             13
48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed                NaN  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48837               White  Female             0             0              36
48838               Black    Male             0             0              40
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country
0      United-States
1      United-States
2      United-States
3      United-States
4               Cuba
...              ...
48837  United-States
48838  United-States
48839  United-States
48840  United-States
48841  United-States

[48842 rows x 14 columns]>

In [9]:
X.isnull().sum()
#y.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
dtype: int64

In [10]:
unique_counts = X['race'].nunique()
unique_counts

5

In [11]:
X['hours-per-week'].median()

40.0

In [12]:
len(X[(X['sex']=='Female')&(X['fnlwgt']>50000)])

15049

In [13]:
len(X[(X['sex']=='Male')&(X['fnlwgt']>50000)])

30386

In [14]:
X["native-country"].value_counts()

native-country
United-States                 43832
Mexico                          951
?                               583
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

In [15]:
X["native-country"].fillna("United-States", inplace = True)

C:\Users\mihai\AppData\Local\Temp\ipykernel_19004\665453023.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X["native-country"].fillna("United-States", inplace = True)
C:\Users\mihai\AppData\Local\Temp\ipykernel_19004\665453023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["native-country"].fillna("United-States", inplace = True)

In [16]:
X["workclass"].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [17]:
X["workclass"].fillna("Private", inplace = True)

C:\Users\mihai\AppData\Local\Temp\ipykernel_19004\2696023000.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X["workclass"].fillna("Private", inplace = True)
C:\Users\mihai\AppData\Local\Temp\ipykernel_19004\2696023000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["workclass"].fillna("Private", inplace = True)

In [18]:
X["occupation"].value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
?                    1843
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [19]:
X["occupation"].replace(np.nan, "Prof-specialty", inplace = True)
#X["occupation"].fillna("Prof-specialty", inplace = True)

C:\Users\mihai\AppData\Local\Temp\ipykernel_19004\1225576373.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X["occupation"].replace(np.nan, "Prof-specialty", inplace = True)
C:\Users\mihai\AppData\Local\Temp\ipykernel_19004\1225576373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["occupation"].replace(np.nan, "Prof-specialty", inplace = True)

In [20]:
X.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

In [22]:
'''
1) 14
2) workclass, occupation, native-country
3) 5
4) 40
5) Мужчин
6) Заполнить следующими или предыдущими данными, нулевыми данными или значением, которыое мы выбрали сами
'''

'\n1) 14\n2) workclass, occupation, native-country\n3) 5\n4) 40\n5) Мужчин\n6) Заполнить следующими или предыдущими данными, нулевыми данными или значением, которыое мы выбрали сами\n'