In [9]:
import pandas as pd

df = pd.read_csv("/content/bank-full.csv")

In [10]:
df_split = df['age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"'].str.split(';', expand=True)

In [11]:
df_split.columns= ["age","job","marital","education","default","balance","housing","loan","contact","day","month","duration","campaign","pdays","previous","poutcome","y"]

In [12]:
df_split

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,"""management""","""married""","""tertiary""","""no""",2143,"""yes""","""no""","""unknown""",5,"""may""",261,1,-1,0,"""unknown""","""no"""
1,44,"""technician""","""single""","""secondary""","""no""",29,"""yes""","""no""","""unknown""",5,"""may""",151,1,-1,0,"""unknown""","""no"""
2,33,"""entrepreneur""","""married""","""secondary""","""no""",2,"""yes""","""yes""","""unknown""",5,"""may""",76,1,-1,0,"""unknown""","""no"""
3,47,"""blue-collar""","""married""","""unknown""","""no""",1506,"""yes""","""no""","""unknown""",5,"""may""",92,1,-1,0,"""unknown""","""no"""
4,33,"""unknown""","""single""","""unknown""","""no""",1,"""no""","""no""","""unknown""",5,"""may""",198,1,-1,0,"""unknown""","""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,"""technician""","""married""","""tertiary""","""no""",825,"""no""","""no""","""cellular""",17,"""nov""",977,3,-1,0,"""unknown""","""yes"""
45207,71,"""retired""","""divorced""","""primary""","""no""",1729,"""no""","""no""","""cellular""",17,"""nov""",456,2,-1,0,"""unknown""","""yes"""
45208,72,"""retired""","""married""","""secondary""","""no""",5715,"""no""","""no""","""cellular""",17,"""nov""",1127,5,184,3,"""success""","""yes"""
45209,57,"""blue-collar""","""married""","""secondary""","""no""",668,"""no""","""no""","""telephone""",17,"""nov""",508,4,-1,0,"""unknown""","""no"""
45210,37,"""entrepreneur""","""married""","""secondary""","""no""",2971,"""no""","""no""","""cellular""",17,"""nov""",361,2,188,11,"""other""","""no"""

In [13]:
df_split=df_split.drop(["default","loan"], axis=1)

In [14]:
df_split.isnull().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [15]:
df_split["education"].mode()

0    "secondary"
Name: education, dtype: object

In [16]:
correlation1 = df_split["age"].corr(df_split["balance"])
correlation2 = df_split["day"].corr(df_split["campaign"])
correlation3 = df_split["day"].corr(df_split["pdays"])
correlation4 = df_split["pdays"].corr(df_split["previous"])
print(correlation1, correlation2, correlation3, correlation4)

0.09778273937134754 0.16249021632619293 -0.09304407377294052 0.45481963548050075

In [17]:
df_split["y"] = df_split["y"].replace({'"yes"':1, '"no"':0 })

<ipython-input-17-12615b43a4ab>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_split["y"] = df_split["y"].replace({'"yes"':1, '"no"':0 })

In [18]:
df_split

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,"""management""","""married""","""tertiary""",2143,"""yes""","""unknown""",5,"""may""",261,1,-1,0,"""unknown""",0
1,44,"""technician""","""single""","""secondary""",29,"""yes""","""unknown""",5,"""may""",151,1,-1,0,"""unknown""",0
2,33,"""entrepreneur""","""married""","""secondary""",2,"""yes""","""unknown""",5,"""may""",76,1,-1,0,"""unknown""",0
3,47,"""blue-collar""","""married""","""unknown""",1506,"""yes""","""unknown""",5,"""may""",92,1,-1,0,"""unknown""",0
4,33,"""unknown""","""single""","""unknown""",1,"""no""","""unknown""",5,"""may""",198,1,-1,0,"""unknown""",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,"""technician""","""married""","""tertiary""",825,"""no""","""cellular""",17,"""nov""",977,3,-1,0,"""unknown""",1
45207,71,"""retired""","""divorced""","""primary""",1729,"""no""","""cellular""",17,"""nov""",456,2,-1,0,"""unknown""",1
45208,72,"""retired""","""married""","""secondary""",5715,"""no""","""cellular""",17,"""nov""",1127,5,184,3,"""success""",1
45209,57,"""blue-collar""","""married""","""secondary""",668,"""no""","""telephone""",17,"""nov""",508,4,-1,0,"""unknown""",0
45210,37,"""entrepreneur""","""married""","""secondary""",2971,"""no""","""cellular""",17,"""nov""",361,2,188,11,"""other""",0

In [36]:
from sklearn.model_selection import train_test_split

y = df_split['y']
X = df_split.drop(columns=['y'])

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)

X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [37]:
from sklearn.metrics import mutual_info_score

mi_scores = {}
for column in X_train.columns:
    # Ð Ð°ÑÑÑ‡Ð¸Ñ‚Ñ‹Ð²Ð°ÐµÐ¼ Ð²Ð·Ð°Ð¸Ð¼Ð½ÑƒÑŽ Ð¸Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ†Ð¸ÑŽ
    mi = mutual_info_score(X_train[column], y_train)
    # ÐžÐºÑ€ÑƒÐ³Ð»ÑÐµÐ¼ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ Ð´Ð¾ Ð´Ð²ÑƒÑ… Ð·Ð½Ð°ÐºÐ¾Ð² Ð¿Ð¾ÑÐ»Ðµ Ð·Ð°Ð¿ÑÑ‚Ð¾Ð¹
    mi_scores[column] = round(mi, 2)

for feature, score in mi_scores.items():
    print(f"{feature}: {score}")

age: 0.01
job: 0.01
marital: 0.0
education: 0.0
balance: 0.12
housing: 0.01
contact: 0.01
day: 0.01
month: 0.02
duration: 0.1
campaign: 0.0
pdays: 0.04
previous: 0.01
poutcome: 0.03

In [38]:
X_train

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome
6377,45,"""entrepreneur""","""married""","""primary""",-100,"""yes""","""unknown""",27,"""may""",240,6,-1,0,"""unknown"""
17236,29,"""services""","""single""","""secondary""",166,"""no""","""cellular""",28,"""jul""",108,8,-1,0,"""unknown"""
4490,31,"""admin.""","""single""","""secondary""",121,"""yes""","""unknown""",20,"""may""",187,1,-1,0,"""unknown"""
24231,40,"""self-employed""","""single""","""tertiary""",1693,"""yes""","""cellular""",17,"""nov""",353,1,-1,0,"""unknown"""
3978,28,"""services""","""single""","""secondary""",317,"""yes""","""unknown""",16,"""may""",21,3,-1,0,"""unknown"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,44,"""housemaid""","""single""","""primary""",1059,"""no""","""unknown""",18,"""jun""",2093,1,-1,0,"""unknown"""
44732,23,"""student""","""single""","""tertiary""",508,"""no""","""cellular""",8,"""sep""",210,1,92,1,"""failure"""
38158,34,"""technician""","""divorced""","""tertiary""",1317,"""yes""","""cellular""",15,"""may""",239,1,-1,0,"""unknown"""
860,33,"""retired""","""married""","""secondary""",165,"""no""","""unknown""",7,"""may""",111,1,-1,0,"""unknown"""
15795,38,"""blue-collar""","""married""","""primary""",-41,"""yes""","""cellular""",21,"""jul""",68,10,-1,0,"""unknown"""

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Ð’Ñ‹Ð¿Ð¾Ð»Ð½ÑÐµÐ¼ one-hot ÐºÐ¾Ð´Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ðµ Ð½Ð° Ð¾Ð±ÑƒÑ‡Ð°ÑŽÑ‰ÐµÐ¼ Ð½Ð°Ð±Ð¾Ñ€Ðµ
X_encoded = pd.get_dummies(X_train, drop_first=True)

# Ð’Ñ‹Ð¿Ð¾Ð»Ð½ÑÐµÐ¼ one-hot ÐºÐ¾Ð´Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ðµ Ð½Ð° Ð²Ð°Ð»Ð¸Ð´Ð°Ñ†Ð¸Ð¾Ð½Ð½Ð¾Ð¼ Ð¸ Ñ‚ÐµÑÑ‚Ð¾Ð²Ð¾Ð¼ Ð½Ð°Ð±Ð¾Ñ€Ð°Ñ…
X_val_encoded = pd.get_dummies(X_val, drop_first=True)
X_test_encoded = pd.get_dummies(X_test, drop_first=True)

X_val_encoded = X_val_encoded.reindex(columns=X_encoded.columns, fill_value=0)
X_test_encoded = X_test_encoded.reindex(columns=X_encoded.columns, fill_value=0)

model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_encoded, y_train)

y_pred = model.predict(X_val_encoded)

accuracy = accuracy_score(y_val, y_pred)
report = classification_report(y_val, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print(report)

Accuracy: 0.90
              precision    recall  f1-score   support

           0       0.91      0.98      0.94      7994
           1       0.63      0.27      0.38      1048

    accuracy                           0.90      9042
   macro avg       0.77      0.63      0.66      9042
weighted avg       0.88      0.90      0.88      9042

In [41]:
results = {}

# Ð˜ÑÐºÐ»ÑŽÑ‡ÐµÐ½Ð¸Ðµ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ° Ð¿Ð¾ Ð¾Ñ‡ÐµÑ€ÐµÐ´Ð¸
for feature in X.columns:
    # Ð˜ÑÐºÐ»ÑŽÑ‡Ð°ÐµÐ¼ Ð¿Ñ€Ð¸Ð·Ð½Ð°Ðº
    X_train_reduced = X_train.drop(columns=[feature])
    X_test_reduced = X_test.drop(columns=[feature])
    X_val_reduced = X_val.drop(columns=[feature])

    X_encoded = pd.get_dummies(X_train_reduced, drop_first=True)
    X_val_encoded = pd.get_dummies(X_val_reduced, drop_first=True)
    X_test_encoded = pd.get_dummies(X_test_reduced, drop_first=True)

    X_val_encoded = X_val_encoded.reindex(columns=X_encoded.columns, fill_value=0)
    X_test_encoded = X_test_encoded.reindex(columns=X_encoded.columns, fill_value=0)

    # ÐžÐ±ÑƒÑ‡Ð°ÐµÐ¼ Ð¼Ð¾Ð´ÐµÐ»ÑŒ Ð±ÐµÐ· ÑÑ‚Ð¾Ð³Ð¾ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ°
    model.fit(X_encoded, y_train)

    # ÐžÑ†ÐµÐ½ÐºÐ° Ñ‚Ð¾Ñ‡Ð½Ð¾ÑÑ‚Ð¸ Ð¼Ð¾Ð´ÐµÐ»Ð¸ Ð±ÐµÐ· ÑÑ‚Ð¾Ð³Ð¾ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ°
    reduced_predictions = model.predict(X_test_encoded)
    reduced_accuracy = accuracy_score(y_test, reduced_predictions)

    # Ð¡Ð¾Ñ…Ñ€Ð°Ð½ÑÐµÐ¼ Ñ€Ð°Ð·Ð½Ð¸Ñ†Ñƒ Ð² Ñ‚Ð¾Ñ‡Ð½Ð¾ÑÑ‚Ð¸
    accuracy_difference = accuracy - reduced_accuracy
    results[feature] = accuracy_difference

# ÐŸÑ€ÐµÐ¾Ð±Ñ€Ð°Ð·ÑƒÐµÐ¼ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð² DataFrame Ð´Ð»Ñ ÑƒÐ´Ð¾Ð±ÑÑ‚Ð²Ð°
results_df = pd.DataFrame(results.items(), columns=['Feature', 'Accuracy Difference'])
results_df = results_df.sort_values(by='Accuracy Difference', ascending=False)

print(results_df)

      Feature  Accuracy Difference
9    duration             0.007508
13   poutcome             0.004523
8       month             0.003196
3   education             0.001979
6     contact             0.001979
10   campaign             0.001979
2     marital             0.001869
5     housing             0.001647
7         day             0.001426
11      pdays             0.001094
12   previous             0.000763
1         job             0.000542
4     balance             0.000542
0         age             0.000431

In [43]:
X_encoded = pd.get_dummies(X_train, drop_first=True)
X_val_encoded = pd.get_dummies(X_val, drop_first=True)
X_test_encoded = pd.get_dummies(X_test, drop_first=True)

X_val_encoded = X_val_encoded.reindex(columns=X_encoded.columns, fill_value=0)
X_test_encoded = X_test_encoded.reindex(columns=X_encoded.columns, fill_value=0)

C_values = [0.01, 0.1, 1, 10, 100]

# Ð¡Ð»Ð¾Ð²Ð°Ñ€ÑŒ Ð´Ð»Ñ Ñ…Ñ€Ð°Ð½ÐµÐ½Ð¸Ñ Ñ‚Ð¾Ñ‡Ð½Ð¾ÑÑ‚Ð¸
accuracy_results = {}

for C in C_values:
    # Ð¡Ð¾Ð·Ð´Ð°ÐµÐ¼ Ð¼Ð¾Ð´ÐµÐ»ÑŒ Ð»Ð¾Ð³Ð¸ÑÑ‚Ð¸Ñ‡ÐµÑÐºÐ¾Ð¹ Ñ€ÐµÐ³Ñ€ÐµÑÑÐ¸Ð¸ Ñ Ñ€ÐµÐ³ÑƒÐ»ÑÑ€Ð¸Ð·Ð°Ñ†Ð¸ÐµÐ¹
    model = LogisticRegression(C=C, solver='liblinear', max_iter=1000)

    # ÐžÐ±ÑƒÑ‡Ð°ÐµÐ¼ Ð¼Ð¾Ð´ÐµÐ»ÑŒ Ð½Ð° Ð¾Ð±ÑƒÑ‡Ð°ÑŽÑ‰ÐµÐ¼ Ð½Ð°Ð±Ð¾Ñ€Ðµ
    model.fit(X_encoded, y_train)

    # ÐŸÑ€Ð¾Ð³Ð½Ð¾Ð·Ð¸Ñ€ÑƒÐµÐ¼ Ð½Ð° Ð²Ð°Ð»Ð¸Ð´Ð°Ñ†Ð¸Ð¾Ð½Ð½Ð¾Ð¼ Ð½Ð°Ð±Ð¾Ñ€Ðµ
    y_pred = model.predict(X_val_encoded)

    # Ð Ð°ÑÑÑ‡Ð¸Ñ‚Ñ‹Ð²Ð°ÐµÐ¼ Ñ‚Ð¾Ñ‡Ð½Ð¾ÑÑ‚ÑŒ
    accuracy = accuracy_score(y_val, y_pred)

    # Ð¡Ð¾Ñ…Ñ€Ð°Ð½ÑÐµÐ¼ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ Ñ Ð¾ÐºÑ€ÑƒÐ³Ð»ÐµÐ½Ð¸ÐµÐ¼ Ð´Ð¾ Ñ‚Ñ€ÐµÑ… Ð·Ð½Ð°ÐºÐ¾Ð² Ð¿Ð¾ÑÐ»Ðµ Ð·Ð°Ð¿ÑÑ‚Ð¾Ð¹
    accuracy_results[C] = round(accuracy, 3)

# Ð’Ñ‹Ð²Ð¾Ð´Ð¸Ð¼ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹
for C, accuracy in accuracy_results.items():
    print(f"C: {C}, Accuracy: {accuracy}")

C: 0.01, Accuracy: 0.893
C: 0.1, Accuracy: 0.897
C: 1, Accuracy: 0.897
C: 10, Accuracy: 0.889
C: 100, Accuracy: 0.878

In [ ]:
'''
1)secondary
2)pdays, previous
3)poutcome
4)0.9
5)age
6)0.1
'''